/* Enter your custom styles here */
#chartPanel {
	background-color: "yellow";
}

#page {
	background-color: #FF0000 !important;
}

#oSelectSI {
	color: "green";	
}

.test {
	font-size: "40px";	
	line-spacing: 12.0;
}

.class_a{
	color: #1c1c1c !important;
}

/* Overrides */
.sapMTitle{
	color: #FFD700;
}


.sapMIBar.sapMHeader-CTX {
    color: white;
    background-color: #000000 !important;
    filter: none;
    background-image: none;
}

.sapMShellBrandingBar {
    height: 0px;
}

.sapMPageHeader::before {
    border-top-width: 0rem;
}
/* Gir bakgr */
.sapMPageEnableScrolling {
	background-color: #333 !important;
	color: white;
}

/* Panel headers */
.sapMPanelHdr {
	color: white;
}

.sapMBarPH.sapMBarContainer {
	background-color: #FFD700;
}

.sapMFlexBox.sapMVBox.sapMFlexBoxJustifyStart.sapMFlexBoxAlignItemsStretch.sapMFlexBoxWrapNoWrap.sapMFlexBoxAlignContentStretch.sapMFlexBoxBGTransparent {
	
}

.sapMBarPH.sapMBarContainer {
	
}